{# cpn/templates/net.html #}
{% extends 'base.html' %}

{% block pageTitle %}
Snakes CPN Viewer
{% endblock %}

{% block archDiv %}
<div id="cDiv">
{% endblock %}

{% block fr1 %}
<div class="mainPageContent">
{% endblock %}

{% block contentParent %}
<div id="content" class="mainPageContent">
{% endblock %}

{% block content %}
    <div class="card">
        <img
        src="{{ static('assets/icons/upload-big.png') }}"
        class="conChild Hoverable cardUploadImg" height="150px" width="150px" id="Upload-Icon"
        onclick="$('#popupDialog').popup('open');"
        alt="home-icon-btn">
        
        <p class="card-text black text-center">Upload a file using the button below to start analyzing the Petri net.</p>
        <div id="supTypes" class="flexRow">
            <p class="conChild black text-center">
                Supported file types:
            </p>
            <img
            src="{{ static('assets/icons/python-file.png') }}"
            class="conChild" height="25px" id="Python-Icon"
            title="Python"
            alt="python-icon">
        </div>
        <form id="fileUploadForm" method="POST" enctype="multipart/form-data">
            <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
            <input type="file" accept=".py" id="mainFileInput" name="file" onchange="updateFileName(); uploadFile(); window.location.href = '#'" style="display: none !important;">
        </form>
        <label for="mainFileInput" class="mainUploadBTN Hoverable buttonBNR nonSelectable white container-align-center" >
            <span class="file-icon">📁</span>
            <span class="excSpan">Choose A File</span>
        </label>
    </div>
{% endblock %}

<!-- Right side of the header -->
{% block rightHeaderContent %}

<!-- Import a file -painike -->
<div class="Hoverable" style="margin-right:10px" id="HomeBtn" onclick="$('#popupDialog').popup('open');">
    <h1 class="nonSelectable white conChild HeaderElementText">Upload a file</h1>
    <img
        src="{{ static('assets/icons/upload.png') }}"
        class="conChild" height="25px" id="Upload-Icon"
        style="filter: invert(100%);"
        alt="home-icon-btn">
</div>

<div class="Hoverable" id="HomeBtn" onclick="redirect(3)">
    <h1 class="nonSelectable white conChild HeaderElementText">Settings</h1>
    <img
        src="{{ static('assets/icons/settings.png') }}"
        class="conChild" height="25px" id="Settings-Icon"
        style="filter: invert(100%);"
        alt="home-icon-btn">
</div>

<div class="Hoverable" id="HomeBtn" onclick="redirect(1)">
    <h1 class="nonSelectable white conChild HeaderElementText">About</h1>
    <img
        src="{{ static('assets/icons/info.png') }}"
        class="conChild" height="25px" id="Exit-Icon"
        style="filter: invert(100%);"
        alt="home-icon-btn">
</div>
{% endblock %}

<!-- Footer -->
{% block footerTxt %}
Copyright © DIGIT, Inc. 2025. All rights reserved.
{% endblock %}

<!-- pop up at the end -->
{% block beforeBodyEnd %}

{% endblock %}

{% block nav2 %} onclick="redirect(1)" {% endblock %}
{% block nav2Text %} About {% endblock %}

{% block burger1 %} $('#popupDialog').popup('open'); {% endblock %}
{% block burger1Text %} Upload A File {% endblock %}

{% block burger2 %} redirect(1) {% endblock %}
{% block burger2Text %} About {% endblock %}

{% block canvas %}
<script type="module" src="{{ static('assets/scripts/canvas.js') }}"></script>
{% endblock %}

